*, *::before, *after {
  box-sizing:border-box;
}

html {
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size:64px;
  padding: 92px 92px 50px 92px;
  font-weight:300;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}

h3 {
  line-height: 42px;
  font-weight: 500;
  color: #324368;
  font-size: 36px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h4 {
  color: #324368;
  font-weight: 500;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  line-height: 140%;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

p {
  color:#324368;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  line-height: 140%;
}

a {
  text-decoration: none;
  color: #B1B5B4;
}

li {
  display: inline-block;
}

a:visited,a:hover,a:active {
  color: #B1B5B4;
}

strong {
    font-weight: 600;
}

.center {
  margin: auto;
  display: inherit;
}

.container {
  background-color: #1F8C95;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-align: center;
  height: 516px;
  width: 1440px;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Navigation */

.navbar {
  color: #B1B5B4;
  height: 70px;
  padding: 50px 120px 50px 120px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

.navbar .logo {
  float: left;
}

.navbar .logo img {
  height: 70px;
}

.navbar ul {
  float: right;
}

.navbar li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 25px 0px 25px 75px;
}

.navbar .active {
  color: #7B7D83 !important;
}

.navbar a {
  color: #B1B5B4 !important;
}

.content {
  width: 1198px;
  margin: auto;
  display: block;
}

.subcontent {
  width: 996px;
  margin: auto;
}

.big-button{
  background: #EFD82A;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 276px;
  height: 92px;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  color: #324368;
  cursor: pointer;
  display: block;
  margin: auto;
}

/*footer*/

footer .footer-nav ul {
  text-align: center;
}

footer .footer-nav li {
    padding: 40px 0px;
}

footer .footer-nav a {
  color: #EFD82A !important;
  font-size: 24px;
  font-weight: 600;
}

footer .footer-nav .prev-nav {
  float: left;
  margin-left: -50px;
}

footer .footer-nav .next-nav {
  float: right;
  margin-right: -50px;
}

footer .footer-content {
  background-color: #1F8C95;
  text-align: center;
  padding: 90px 0px 50px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer .footer-content h4 {
  font-weight: 300;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 48px;
}

footer .footer-content input {
  margin-top: 10px;
}

footer .footer-tail {
  padding: 60px 0px 65px 0px;
}

footer .copyright {
  float: left;
  font-size: 18px;
}

footer .links {
  float: right;
  font-size: 24px;
}

footer .links li {
  padding-left: 100px;
}
